.modal {
  background: rgba(34, 42, 113, 0.9);
  backdrop-filter: blur(38px);
  border-radius: 65px;
  padding: 77px;
  height: calc(100% - 40px);
  margin: 20px;
  overflow: auto;
}

.modal__close {
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  right: 70px;
  top: 70px;
}